body{
    background-color: antiquewhite;
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.items{
    width: 100%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
}

.item{
    min-width: 120px; 
    max-width:120px;
    min-height: 150px; 
    max-height: 150px;
    border: solid black 5px; 
    border-radius: 1rem; 
    padding:10px; 
    margin:10px;
    background:white; 
    position:relative;
}

#itemImg{
    position:absolute; 
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.spacer{
    width: 100%;
    height: 85%;
}

.discription{
    position:relative;
    z-index:10;
    display:flex;
    justify-content:center;
    align-items: center;
    line-height: 15px;
    flex-wrap: wrap;
}

.discription p{
    margin:0;
}

.discription #stars{

    width: 100%;

    text-shadow: 
    1px 1px 0 #000,
     -1px 1px 0 #000,
     1px -1px 0 #000,
     -1px -1px 0 #000;
    color: yellow;

    display:flex;
    justify-content: center;
    flex-wrap:wrap;

}

#rarity{
    transform:rotate(-45deg);
} 